SPRING_PROFILES_ACTIVE=

# App port
APP_PORT=

# MySQL credentials
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=

# Spring Boot DB connection (inside Docker)
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Mail / RabbitMQ / JWT stuff (ENCRYPT OR STORE SAFELY LATER)
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION_TIME=