# App properties
APP_PORT=
SPRING_PROFILES_ACTIVE=

# Postgresql credentials
POSTGRES_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Mail
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PORT=

# CloudAMQP
SPRING_RABBITMQ_HOST=
SPRING_RABBITMQ_USERNAME=
SPRING_RABBITMQ_PASSWORD=
SPRING_RABBITMQ_PORT=
EMAIL_QUEUE=

# JWT stuff
JWT_SECRET=
JWT_EXPIRATION_TIME=