# App
APP_PORT=
SPRING_PROFILES_ACTIVE=

# MySQL credentials
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=

# Spring Boot DB connection (inside Docker)
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Mail
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PORT=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=

# JWT stuff
JWT_SECRET=
JWT_EXPIRATION_TIME=